.navsvg{
      margin-top: -80px; 
    /* margin-left: 1.5%; */
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
    /* z-index: 990; */
}
/* .para{
    margin-left: 10%;
    width: 651px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    color:#373737;
} */
/* .animate{
    margin-left: 10%;
    width: 229px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color:#373737;
} */
/* .Head{
    margin-left: 10%;
    width: 454px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    letter-spacing: 0.03em;
    -webkit-text-stroke: 3px black;
    text-shadow: 3px 7px 7px rgba(0,0,0,0.3);
    color:transparent;
} */
 ul{
    margin-bottom: 30px;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
     align-items: center; 
    gap: 1.5%;
    width: 46%;
    height: 1rem;
} 
li{
    width: 90px;
    height: 1.5rem;
    font-family: 'Poppins';
    font-style: normal;
     font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: black;
    flex: none;
    order: 0;
    flex-grow: 0;
    list-style-type: none;
    cursor: pointer;
}
.nav{
    margin-top: -70px;
    display: flex;
    flex-direction: row;
   justify-content: right;
     align-items: center; 
    gap: 1.5%;
    text-align: center;
    height: 40px;
}
.Mainpage{
 height:1268px;
}
.ProductPage{
    height:4936px;
     /* margin-top: 1298px; */
}
.feature{
    height:1357px;
     /* margin-top: 6264px; */
}
.about{
    height:1324px;
    /* margin-top: 7651px; */
}
.award{
    height:825px;
   /* margin-top: 9005px; */
}
.collaborated{
    height:726px;
     /* margin-top: 9860px; */
}
.stats{
    height:633px;
     /* margin-top:10616px; */
}
.footer{
    height:1473px;
    /* margin-top: 11279px; */
}
.card{
    width: 96%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    box-sizing: border-box;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(120px);
    border-radius: 10px;
    border: 2px solid orange;
}
.h1 {
    position: absolute;
    top:400px;
   left:100px;
    font-family: Lato, sans-serif;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 15vw;
    overflow: hidden;
}
.h1.box {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100px;
    height: 1vw;
}
.h1.hi {
    display: inline-block;
}
.text{
    height: 0px;
    background: -webkit-linear-gradient(160deg, #ece6e6 30.92%, #FFFFFF 48.36%, #d3caca 68.09%);
    -webkit-background-clip: text;
    overflow: hidden;
    background-repeat: initial;
    background-size: 80%;
    animation: animate 6s linear infinite;
  }
  @keyframes animate
  {
     0% 
     {
         background-position: -500%;
     }
     100%
     {
         background-position: 500%;
     }
  }